@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
  }

  html, body, #__plasmo {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #141414 !important;
    color: #d9d9d9 !important;
    box-sizing: border-box;
  }
}
